<%- include('../layout/header.ejs') %>
<%- include('../layout/after-login') %>
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Pyement</h3>
                        <div class="order_box">
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="selector">
                                    <label for="f-option5">Cash On delivery</label>
                                    <div class="check"></div>
                                </div>

                            </div>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="selector">
                                    <label for="f-option6">Paypal </label>
                                    <img src="img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                    account.</p>
                            </div>
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                                <label for="f-option4">I’ve read and accept the </label>
                                <a href="#">terms & conditions*</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <a class="primary-btn" href="#">Place Order</a>
        </div>
    </section>
    <!--================End Checkout Area =================-->
    <%- include('../layout/footer.ejs') %>