<%- include('../layout/header.ejs') %>
    <%- include('../layout/before-login.ejs') %>

        <head>
            <link rel="stylesheet" href="\stylesheets\signIn.css">
        </head>
        <!--================Login Box Area =================-->

        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <!-- Login Form -->

                <form class="p-t-15" method="post" action="/login">
                    <% if (typeof alertMessage) { %>
                        <p class="alert-success">
                            <%= alertMessage %>
                        </p>
                        <% } %>

                            <h4>Login Your Account</h4>
                            <input type="text" id="login" class="fadeIn second" name="email" placeholder="Enter Email">
                            <input type="text" id="password" class="fadeIn third" name="password"
                                placeholder="password">
                            <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="/forgetPass">Forgot Password?</a>
                </div>
                <div id="formFooter">
                    <a class="underlineHover" href="/register">Create an account</a>
                </div>


            </div>
        </div>

        <%- include('../layout/footer.ejs') %>