<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<form class="n-5 col-6 login_form" action="working/phone" method="post">
        <h1>Enter Number</h3>



            <div class="col-md-12 form-group">
                <input type="tel" class="form-control" name="newusermobile" placeholder="post" required>
            </div>


            <div class="col-md-12 form-group">
                <input type="submit" class="primary-btn" value="Submit">
            </div>
    </form>

</body>
</html>

    

    <!--